@model Disabled.Models.Order

@{
    ViewBag.Title = "Disabled. | Podsumowanie";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<div class="breadcrumb-background">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs">@Html.MvcSiteMap().SiteMapPath()</div>
            </div>
        </div>
    </div>
</div>

<div class="background">
    <div class="container checkout-form d-flex align-items-center pt-3">
        @using (@Html.BeginForm("Checkout", "Cart"))
        {
            <div class="row">
                <div class="col">
                    <h1>Dane kontaktowe</h1>
                </div>
            </div>
            <div class="row register-error-row">
                <div class="col" id="login-error">
                    @Html.ValidationMessage("loginerror", "")
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="row first-name-row">
                <div class="col">
                    @Html.LabelFor(o => o.FirstName, "Imię:")
                </div>
            </div>
            <div class="row first-name-validation-row">
                <div class="col">
                    @Html.TextBoxFor(o => o.FirstName)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.FirstName)
                    </div>
                </div>
            </div>
            <div class="row last-name-row">
                <div class="col">
                    @Html.LabelFor(o => o.LastName, "Nazwisko:")
                </div>
            </div>
            <div class="row last-name-validation-row">
                <div class="col">
                    @Html.TextBoxFor(o => o.LastName)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.LastName)
                    </div>
                </div>
            </div>
            <div class="row address-row">
                <div class="col">
                    @Html.LabelFor(o => o.Address, "Adres:")
                </div>
            </div>
            <div class="row address-validation-row">
                <div class="col">
                    @Html.TextBoxFor(o => o.Address)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Address)
                    </div>
                </div>
            </div>
            <div class="row zip-code-row">
                <div class="col">
                    @Html.LabelFor(o => o.ZipCode, "Kod pocztowy:")
                </div>
            </div>
            <div class="row zip-code-validation-row">
                <div class="col">
                    @Html.TextBoxFor(o => o.ZipCode)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.ZipCode)
                    </div>
                </div>
            </div>
            <div class="row city-row">
                <div class="col">
                    @Html.LabelFor(o => o.City, "Miasto:")
                </div>
            </div>
            <div class="row city-validation-row">
                <div class="col">
                    @Html.TextBoxFor(o => o.City)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.City)
                    </div>
                </div>
            </div>
            <div class="row email-row">
                <div class="col">
                    @Html.LabelFor(o => o.Email, "Adres e-mail:")
                </div>
            </div>
            <div class="row email-validation-row">
                <div class="col">
                    @Html.TextBoxFor(o => o.Email)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Email)
                    </div>
                </div>
            </div>
            <div class="row phone-row">
                <div class="col">
                    @Html.LabelFor(o => o.PhoneNumber, "Numer telefonu:")
                </div>
            </div>
            <div class="row phone-validation-row">
                <div class="col">
                    @Html.TextBoxFor(o => o.PhoneNumber)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.PhoneNumber)
                    </div>
                </div>
            </div>
            <div class="row comment-row mt-3">
                <div class="col">
                    <textarea class="text-area" cols="28" rows="4" name="comment">@Model.Comment</textarea>
                </div>
            </div>
            <div class="row confirm-row mt-3">
                <div class="col">
                    <input type="submit" value="Potwierdź" class="submit-link" />
                </div>
            </div>
            <div class="row back-row no-gutters mt-3">
                <div class="col">
                    <a class="back-link d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Cart")">Wróć</a>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>